*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--body-bg);
    font-family:  var(--primary-font);
}

/* ---side nav start ----  */
.side_nav {
  width: 250px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: fixed;
  font-size: 1.5rem;
  font-family: var(--secondary-font);
  padding: 2rem 0rem;
  background: var(--sphere-up2-clr);
  left: 0;
  transition: left .5s ease;
}
.nav-button {
  color: var(--contrast);
  margin-left: calc(250px - 3rem);
  position: fixed;
  align-self: flex-end;
}
.fa-chevron-circle-down {
  transform: rotate(90deg);
}
.fa-chevron-circle-down:hover {
  color: var(--primary-color);
  cursor: pointer;
}
.company {
  display: flex;
  padding: 1rem 1rem 2rem;
  align-self: center;
}
.company__link {
  text-decoration: none;
  color: var(--contrast);
  padding-right: 0.5rem;
}

.content__data {
  text-decoration: none;
  color: var(--primary-color);
  padding: 1rem 3rem;
  transition: 0.5s ease;
}
.content__data:hover {
  color: white;
  padding-left: 4rem;
  transition: 0.5s ease;
}
/* ---side nav end ----  */

/* --- Documentation start --- */

.documentation-wrapper{
  display: flex;
    color:var(--contrast);
    font-size: 1.5rem;
}


.document-section{
  width: 100%;
  display:flex;
  flex-direction: column;
  align-items: center;
  margin:3rem 0;
  padding-left: 250px;
  transition: padding-left .5s ease;
}

.side-title{
  position: fixed;
  top:40%;
  right:-125px;
  transform:rotate(0.75turn);
  font:1.5rem var(--secondary-font);
  color:var(--contrast);
  background-color: var(--terminal-bg);
  padding:1rem 5rem 1rem;
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 77% 0%, 21% 0%, 0 98%);
  cursor:pointer;
  transition:right .75s ease-in-out;
}

.side-title:hover,.side-title:focus-within{
  right:-96px;
}

.ind-topics{
  display:flex;
  flex-direction:column;
  align-items:center;
  padding:1rem;
  width:95%;
  max-width: 700px;
}

.ind-topics h1{
    padding:1rem 0 3rem;
    color:var(--primary-color);
    font: var(--secondary-font);
    font-size:2rem;
    font-weight: bold;
}

.ind-topics p{
  margin:1.2rem 0;
  width: 100%;
}

.code-div{
  display:flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--terminal-bg);
  border-left:7px solid var(--primary-color);
  border-radius:.3rem;
  padding:0.7rem 1rem;
  font-size:1.2rem;
}

.code-div svg{
  width:30px;
}

.code-div svg path{
  fill:var(--primary-color);
}

/* --- Documentation end --- */

.sphere-up1 {
    height: 350px;
    width: 350px;
    border-radius: 50%;
    background: var(--sphere-up1-clr);
    position: absolute;
    top: 20%;
    right: 300px;
    z-index: -1;
    position: fixed;
}

.sphere-up2 {
    height: 350px;
    width: 350px;
    border-radius: 50%;
    background: var(--sphere-up2-clr);
    position: absolute;
    top: 10%;
    right: 150px;
    z-index: -1;
    /* position: fixed; */
}

.sphere-down {
    height: 600px;
    width: 600px;
    border-radius: 50%;
    background: var(--sphere-down-clr);
    position: absolute;
    top: 68%;
    left: -200px;
    z-index: -1;
    /* position: fixed; */
}


.toggle_nav_button {
  transform: rotate(-180deg) !important;
}
.toggle_nav {
  left: -250px;
}
.document_section_toggle {
  padding-left: unset;
}