*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--body-bg);
    font-family:  var(--primary-font);
}

body a{
  color:inherit;
  text-decoration: none;
}

/* ---side nav start ----  */
.side_nav {
  width: 250px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: fixed;
  font-size: 1.5rem;
  font-family: var(--secondary-font);
  padding: 2rem 0rem;
  background: var(--sphere-up2-clr);
  left: 0;
  transition: left .5s ease;
}
.nav-button {
  color: var(--contrast);
  margin-left: calc(250px - 3rem);
  position: fixed;
  align-self: flex-end;
}
.fa-chevron-circle-down {
  transform: rotate(-90deg);
}
.fa-chevron-circle-down:hover {
  color: var(--primary-color);
  cursor: pointer;
}
.company {
  display: flex;
  padding: 1rem 1rem 2rem;
  align-self: center;
}
.company__link {
  text-decoration: none;
  color: var(--contrast);
  padding-right: 0.5rem;
}
.theme__container{
  justify-content: end;
  align-self: center;
  bottom: 2rem; 
  color: var(--contrast);
}
.theme__container a {
  color: inherit;
  transition: color 0.5s ease;
}
.theme__container:hover {
  color: var(--primary-color);
}
.themes{
  position: fixed;
  min-width: 200px;
  max-width: 300px;
  max-height: 80%;
  bottom: 1rem;
  left: 250px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  color: var(--contrast);
  font-family: var(--secondary-font);
  background-color: var(--body-bg);
}
.themes__btn{
  font-size: clamp(.8rem, 4vw, 1rem);
  color: var(--primary-color);
  padding: 1rem;
  border: 1px solid;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.pages__links {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.content__data {
  text-decoration: none;
  color: var(--primary-color);
  padding: 1rem 3rem;
  transition: 0.5s ease;
}
.content__data:hover {
  color: var(--contrast);
  padding-left: 4rem;
  transition: 0.5s ease;
}
/* ---side nav end ----  */

/* --- Documentation start --- */

.documentation-wrapper{
  display: flex;
    color:var(--contrast);
    font-size: 1.5rem;
}


.document-section{
  width: 100%;
  display:flex;
  flex-direction: column;
  align-items: center;
  margin:3rem 0;
  padding-left: 250px;
  transition: padding-left .5s ease;
}

.document-section h1{
  padding:1rem 0 3rem;
  color:var(--primary-color);
  font: var(--secondary-font);
  font-size:2rem;
  font-weight: bold;
}

.side-title{
  position: fixed;
  top:35%;
  right:-128px;
  transform:rotate(0.75turn);
  font:1.5rem var(--secondary-font);
  color:var(--contrast);
  background-color: var(--terminal-bg);
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 77% 0%, 21% 0%, 0 98%);
  cursor:pointer;
  transition:right .75s ease-in-out;
  width: 230px;
  height: 75px;
  display:flex;
  justify-content: center;
  align-items: center;
}

#main-title{
  top:60%;
}

#main-title a:-webkit-any-link{
  color:inherit;
  
}
.side-title:hover,#main-title:hover{
  right:-86px;
}

.ind-topics{
  display:flex;
  flex-direction:column;
  align-items:center;
  padding:1rem;
  width:95%;
  max-width: 700px;
}

.ind-topics p{
  margin:1.2rem 0;
  width: 100%;
}

.code-div{
  display:flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--terminal-bg);
  border-left:7px solid var(--primary-color);
  border-radius:.3rem;
  padding:0.7rem 1rem;
  font-size:1.2rem;
}

.code-div svg{
  width:30px;
}

.code-div svg path{
  fill:var(--primary-color);
}

/* --- Documentation end --- */

.sphere-up1 {
    height: 350px;
    width: 350px;
    border-radius: 50%;
    background: var(--sphere-up1-clr);
    position: absolute;
    top: 20%;
    right: 300px;
    z-index: -1;
    position: fixed;
}

.sphere-up2 {
    height: 350px;
    width: 350px;
    border-radius: 50%;
    background: var(--sphere-up2-clr);
    position: absolute;
    top: 10%;
    right: 150px;
    z-index: -1;
    /* position: fixed; */
}

.sphere-down {
    height: 600px;
    width: 600px;
    border-radius: 50%;
    background: var(--sphere-down-clr);
    position: absolute;
    top: 68%;
    left: -200px;
    z-index: -1;
    /* position: fixed; */
}


.toggle_nav_button {
  transform: rotate(-180deg) !important;
}
.toggle_nav {
  left: -250px;
}
.document_section_toggle {
  padding-left: unset;
}
.selected__ic{
  color: var(--accent);
  margin: 0 auto;
  flex: 1;
  width: 20px;
  height: 20px;
}
.none {
  display: none;
}
