.hide-overflow {
  overflow: hidden;
}

.theme-creator {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  max-height: 100vh;
  z-index: 1;
  color: white;
  font-size: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: start;
  padding: 5rem;
  overflow: auto;
}

.toggle-bg {
  background-color: rgba(0, 0, 0, 0.9);
}

button {
  background-color: inherit;
  color: white;
  outline: none;
  border: 1px solid red;
  border-radius: 10px;
  padding: 0.15rem;
  cursor: pointer;
  z-index: 10;
  font-family: var(--primary-font);
}

.theme-creator label {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin: 2rem;
  font-family: var(--primary-font);
}

.theme-creator button {
  padding: 0.3rem;
  font-size: 1.1rem;
  border-radius: 10px;
}

.theme-creator label input[type="text"] {
  outline: none;
  height: 2rem;
  width: 20rem;
  font-size: 1rem;
  padding: 0.1rem;
  font-family: var(--primary-font);
}

.theme-creator a {
  color: red;
  text-decoration: underline;
  margin: 2rem;
  font-family: var(--primary-font);
}

.theme-creator p {
  margin: 1rem;
  margin-left: 2rem;
  font-family: var(--primary-font);
  font-size: 1rem;
}

.theme-creator .json,
.theme-creator .copy {
  margin: 2rem;
  margin-left: 2rem;
}

.theme-creator textarea {
  outline: none;
  padding: 1rem;
  margin-left: 2rem;
}

.none {
  display: none !important;
}