*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --glow-height: 950px;
}

html {
  background-color: var(--body-bg);
}

body {
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}
/* scroll bar */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--body-bg);
}

::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: var(--primary-color);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--contrast);
}
/* ---- navbar start -----  */

.header {
  height: 125px;
  padding: 1rem;
  color: var(--primary-color);
  font-family: var(--primary-font);
}

.header * {
  font-size: var(--nav-font-size);
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__link {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.header__icon {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.header__container {
  display: flex;
  align-items: center;
}
/* ---- navbar end -----  */
/* ----terminal start ------  */

/* Terminal Main scrollBar*/
.terminal-main::-webkit-scrollbar {
  width: 5px;
}

.terminal-main::-webkit-scrollbar-track {
  background: var(--terminal-bg);
}

.terminal-main::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: var(--primary-color);
}

.terminal-main::-webkit-scrollbar-thumb:hover {
  background: var(--contrast);
}

#terminal-wrapper {
  height: calc(100vh - 125px);
  display: flex;
  justify-content: center;
  font-family: var(--primary-font);
  margin-top: 3rem;
}

.glow-sphere{
  position: absolute;
  border-radius: 50%;
  bottom: 50%;
  right: 50%;
  transform: translate(50%, 50%);
  width: 95%;
  max-width: 950px;
  max-height: 600px;
  height: 85%;
  z-index: -1;
  opacity: .2;
  box-shadow: 0px 0px 150px 100px var(--accent);
}

.bg-grid{
  position: absolute;
  z-index: -1;
  overflow: hidden;
}

.bg-cont-grid{
  top: 50%;
  transform: translateY(-50%);
  width:  clamp(250px, 32vw, 700px);
  height: clamp(250px, 32vw, 700px);
}

.bg-grid-right{
  right: 0px;
}

.bg-grid-left{
  left: 0px;
}

.bg-grid-down{
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bg-fade-grid{
  width: clamp(80px, 30vw, 400px);
  height: clamp(80px, 30vw, 400px);
}

.bg-fade-left{
  top: 70%;
  left: 200px;
  transform: translateY(-50%);
}

.bg-fade-right{
  top: 60%;
  right: 240px;
  transform: translateY(-50%);
}

.terminal {
  width: 95%;
  max-width: 950px;
  max-height: 600px;
  display: flex;
  flex-direction: column;
  border-radius: 0.8rem 0.8rem 0 0;
  background-color: var(--terminal-bg);
  color: var(--contrast);
  font-size: var(--terminal-font-size);
  margin: 1.5rem 0 2rem;
  position: relative;
}

.terminal-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.7rem 1.2rem;
  border-bottom: 3px solid var(--terminal-header-border);
}

.terminal-header p {
  flex-grow: 1;
  text-align: center;
}

.terminal-header svg {
  width: 2rem;
  height: 2rem;
}

.terminal-header path {
  fill: var(--primary-color);
}

.terminal-header svg:first-child path:last-child {
  fill: var(--contrast);
}

.terminal-main {
  padding: 0 1.5rem;
  overflow-y: auto;
}

.terminal-commands {
  margin: 1rem 0;
}

.terminal-commands pre {
  font-size: var(--output-font-size);
  color: var(--primary-color);
  white-space: pre-wrap;
  padding-top: 1rem;
}

.terminal-commands .new-file {
  color: var(--new-file);
}

.terminal-commands p {
  color: var(--contrast);
  padding-top: 0.7rem;
}

.terminal-commands p::before {
  content: "$";
  padding-right: 0.5rem;
  color: var(--primary-color);
  font-weight: bold;
}

.terminal-commands b {
  color: var(--primary-color);
  padding-right: 0.5rem;
}
/* ----terminal end ------  */
/* ----content container----*/

.content-cnt {
  height: 100vh;
  background: var(--gradient);
  overflow: hidden;
  position: relative;
}

.sphere-up1 {
  height: 350px;
  width: 350px;
  border-radius: 50%;
  background: var(--sphere-up1-clr);
  position: absolute;
  top: 20%;
  right: 300px;
  z-index: -1;
}

.sphere-up2 {
  height: 350px;
  width: 350px;
  border-radius: 50%;
  background: var(--sphere-up2-clr);
  position: absolute;
  top: 10%;
  right: 150px;
  z-index: -1;
}

.sphere-down {
  height: 600px;
  width: 600px;
  border-radius: 50%;
  background: var(--sphere-down-clr);
  position: absolute;
  top: 68%;
  left: -200px;
  z-index: -1;
}
/* ----search bar start ------  */

.search-bar-div {
  position: absolute;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 2rem 1rem;
  margin-top: 3rem;
}

.search-bar {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  border: 2px solid var(--primary-color);
  border-radius: 0.4rem;
  height: 50px;
  width: 95%;
  max-width: 600px;
  background-color: var(--secondary-color);
}

.search-bar svg {
  width: 25px;
  height: 30px;
}

.search-bar path {
  fill: var(--accent);
}

.search-bar input {
  height: 100%;
  margin: 0;
  flex-grow: 2;
  background-color: transparent;
  border: none;
  padding-left: 0.8rem;
  font-size: 1.3rem;
  color: var(--accent);
}

.search-bar input:focus {
  outline: none;
}

.none {
  display: none;
}

.greener p::before {
  display: none;
}
/* ----search bar end ------  */
/* ----content area start */

.content {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  align-items: end;
}

.content__data {
  width: 12rem;
  height: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--secondary-color);
  border: 12px solid transparent;
  background: linear-gradient(var(--secondary-color), var(--secondary-color))
      padding-box,
    linear-gradient(to bottom, var(--primary-color), var(--secondary-color))
      border-box;
  box-shadow: 5px 5px 0px var(--secondary-color);
  color: var(--contrast);
  font-weight: bold;
  font-family: var(--primary-font);
  font-size: var(--output-font-size);
  cursor: pointer;
}

.content__data--4,
.content__data--7 {
  background: linear-gradient(var(--primary-color), var(--primary-color))
      padding-box,
    linear-gradient(to bottom, var(--secondary-color), var(--primary-color))
      border-box;
}

/* .content__data--4::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 86.6px 50px 0;
  border-color: transparent orange transparent transparent;
}

.content__data--4::after {
  content: "";
  width: 200px;
  height: 80px;
  background: orange;
} */

.content__data--5,
.content__data--6,
.content__data--7 {
  align-self: center;
}

.content__data--5 {
  grid-column: 2/3;
}
/* ----content area end */
