*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100%;
  background-color: var(--body-bg);
}

a {
  color: inherit;
  text-decoration: none;
}

/* ---- navbar start -----  */

.header {
  height: 200px;
  padding: 1rem;
  color:var(--secondary-color);
}

.header__nav {
  display: flex;
  justify-content: space-between;
}

.header__link {
  font-size: 1.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.header__container--title {
  display: flex;
}

/* ---- navbar end -----  */

/* ----terminal start ------  */

.terminal {
  display: flex;
  flex-direction: column;
  width: 40%;
  min-width: 500px;
  margin: 2rem auto;
  border-radius: .8rem .8rem 0 0;
  background-color:var(--terminal-bg);
  color:var(--secondary-color);
  font-size: 1.35rem;
  padding-bottom:5rem;
}

.terminal-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.7rem 1.2rem;
  border-bottom: 3px solid #5C4747;
  font-size:1rem;
}

.terminal-header p {
  flex-grow: 1;
  text-align: center;
}

.terminal-header svg {
  width: 25px;
  height: 23px;
}
.terminal-header path {
  fill:var(--primary-color)
}

.terminal-header svg:first-child path:last-child{
  fill:var(--secondary-color);
}
.terminal-main{
  padding:0 1.5rem;
}

.terminal-commands{
  margin:1rem 0;
}

.terminal-commands pre{
  font-size:1rem;
  color:var(--primary-color);
  white-space: pre-wrap;
  padding-top:1rem;
}

.terminal-commands p{
  color:var(--secondary-color);
  padding-top:.7rem;
}

.terminal-commands b{
  color:var(--primary-color);
  padding-right: .5rem;

}
/* ----terminal end ------  */