@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

:root {
  --body-bg: #111111;
  --primary-color: #ef391a;
  --secondary-color: #fff;
  --accent: #00E0FF;
  --terminal-bg: #443f3f;

  /* Content page design color*/
  --gradient: linear-gradient(45deg, rgba(18,20,32,0.05) 35%, rgba(102,34,30,0.15) 75%, rgba(239,57,26,0.2) 100%);
  --sphere-down-clr: radial-gradient(circle, rgba(142,42,36,0.3) 0%, rgba(172,47,33,0.25) 30%, rgba(220,54,28,0.25) 70%, rgba(239,57,26,0.3) 100%);
  --sphere-up1-clr: radial-gradient(circle, rgba(239,57,26,0.1) 65%, rgba(239,57,26,0.2) 90%);
  --sphere-up2-clr: radial-gradient(circle, rgba(14, 14, 14, 0.5) 25%, rgba(0, 0, 0, 0.35) 90%);

  --primary-font: "Ubuntu Mono", monospace;
  --secondary-font: "Ubuntu", sans-serif;
  --nav-font-size: clamp(1rem, 5vw, 2rem);
  --terminal-font-size: clamp(1rem, 5vw, 1.5rem);
  --output-font-size: clamp(1rem, 5vw, 1.25rem);
}
