@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

:root {
    --body-bg:#111111;
    --primary-color: #EF391A;
    --secondary-color:#fff;
    --terminal-bg: #443F3F;
}