@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
/* font-family: 'Ubuntu', sans-serif; */
/* font-family: 'Ubuntu Mono', monospace; */

:root {
  --body-bg: #111111;
  --primary-color: #ef391a;
  --secondary-color: #fff;
  --terminal-bg: #443f3f;
  --primary-font: "Ubuntu Mono", monospace;
  --secondary-font: "Ubuntu", sans-serif;
}
